<link rel="stylesheet" href="/app.css">

<script>
    // Wait for the DOM to load
    document.addEventListener("DOMContentLoaded", function() {
      // Wait for 5 seconds (5000 milliseconds)
      setTimeout(function() {
        // Redirect to home page
        window.location.href = "/";
      }, 5000);
    });
</script>
<h1>Sorry</h1>
<p>We arent sure what went wrong there!</p>
<br>
<p>You will be redirected to the homepage in 5 seconds.</p>